
.flag {
    animation: wave 5s linear infinite;
  }
  
  @keyframes wave {
    0% {
      transform: rotate(0desg);
    }
    10% {
      transform: rotate(-10deg);
    }
    20% {
      transform: rotate(8deg);
    }
    30% {
      transform: rotate(-6deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  